.Search-img img {
  width: 100%;
  background-color: lightgrey;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Search-types {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.Search-type {
  padding: 5px 10px;
  margin: 10px 0 10px 10px;
  border-radius: 5px;
  background: cyan;
  color: #fff;
  text-transform: capitalize;
  width: 80px;
  text-align: center;
  font-weight: 700;
}

.Search-name {
  text-transform: capitalize;
  font-weight: 700;
}

.Search-num {
  font-size: 2rem;
  font-weight: 400;
  color: gray;
}

.Search-genus {
  font-size: 1.75rem;
  font-weight: 400;
}

.Search-info {
  background-color: #dc3545;
  color: black;
  border-radius: 10px;
  padding: 10px 0;
  margin: 10px 0;
}

.Search-info-subtitle {
  color: white;
}

.Search-ability {
  text-transform: capitalize;
}

.Search-table-row {
  width: 100%;
}

.Search-evolutions {
  background-color: grey;
  color: white;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 10px 0;
  width: 100%;
  /* max-height: 35vh; */
  display: flex;
  flex-direction: column;
}

.Search-evolutions-title {
  font-size: 2rem;
}

/* .Search-evolutions-images-1 {
  display: flex;
  justify-content: space-around;
}
.Search-evolutions-images-2 {
  display: flex;
  justify-content: space-around;
}
.Search-evolutions-images-3 {
  display: flex;
  justify-content: space-around;
} */

.Search-evolutions-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Search-evolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.Search-evolution img {
  width: 80%;
  max-width: 25vh;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin: 10px 0;
}

.Search-evolution-name {
  text-transform: capitalize;
  font-size: 1.25rem;
}
