.Card {
  background: white;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Card-img {
  text-align: center;
  /* padding: 10px 0; */
}

.Card-img img {
  height: 13rem;
}

.Card-types {
  display: flex;
  justify-content: center;
}

.Card-type {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: cyan;
  color: #fff;
  text-transform: capitalize;
  width: 100px;
  text-align: center;
  font-weight: 700;
}

.Card-name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.4rem;
}

.Card-num {
  font-weight: 400;
  color: gray;
}

/* .Card-info {
  margin-left: 10px;
}

.Card-data {
  padding-bottom: 10px;
  text-transform: capitalize;
}

.Card-data .title {
  font-weight: 700;
} */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
