.Card {
  background: white;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Card-img {
  text-align: center;
  /* padding: 10px 0; */
}

.Card-img img {
  height: 13rem;
}

.Card-types {
  display: flex;
  justify-content: center;
}

.Card-type {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: cyan;
  color: #fff;
  text-transform: capitalize;
  width: 100px;
  text-align: center;
  font-weight: 700;
}

.Card-name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.4rem;
}

.Card-num {
  font-weight: 400;
  color: gray;
}

@media only screen and (max-width: 768px) {
  .Card-img img {
    height: 9rem;
  }
  .Card-button {
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 5px 0;
    font-weight: 700;
  }
}
@media only screen and (min-width: 768px) {
  .Card-button {
    display: none;
  }
}
