.section {
  padding: 5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.about-section {
  width: 85vw;
  max-width: 40rem;
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

/* .background {
  background-image: url(../images/background.jpeg);
  width: 100vw;
  height: 100px;
} */

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron-text {
  background-color: rgba(211, 211, 211, 0.6);
  width: 50%;
  border-radius: 10px;
  padding: 20px;
}
.jumbotron-title {
  font-size: 4rem;
}

.jumbotron-button {
  margin-right: 10px;
}
